*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica, Arial, sans-serif;

  }
.box{
  background-color: #808080;
  padding: 10px;
  border: 2px solid black;
  margin-top: 50px;
  width:90%;
  margin-right: auto;
  margin-left: auto;

}
h2{
  background-color : pink;
  border: 2px solid black;
  width: 30%;
  float: right;
  position: relative;
  bottom:12px;
  left:12px;

}
h1{
  text-align: center;
}
.top{

  clear: right;

}
#beef{
  background-color: #B22222;
  text-align: center;
}
#sushi{
  background-color: #F0E68C;
  text-align: center;
}
#chick{
  text-align: center;
}
.row{
  width: 100%;
}
@media (min-width: 992px) {
  .lg1,.lg2,.lg3{
    float:left;
  }
  .lg1{
    width: 33.3%;
  }
  .lg2{
    width: 33.3%;
  }
  .lg3{
    width: 33.3%
  }
}
@media(min-width: 768px) and (max-width: 991px){
  .md1,.md2,.md3{
    float: left;
  }
  .md1{
    width: 50%;
  }
  .md2{
    width: 50%;
  }
  .md3{
    width: 100%;
  }
}
@media(max-width: 767px){
  .sm1,.sm2,.sm3{
    float: left;
  }
  .sm1{
    width: 100%;
  }
  .sm2{
    width: 100%;
  }
  .sm3{
    width: 100%;
  }
}